!!!
html
  head
    title= title
    != css('main')
    != css('jquery-ui')
    script(data-main="js/main", type="text/javascript", src="/js/require.js")
  body
    div#ui
    
    script(type="text/template")#templ-character-overlay
      div.inner
        div.topbar
          h1 <%= data.name %>
          div.statbars
            div.statbar.health
              div
            div.statbar.mana
              div
        div.main
          div.stats
            Stats
          div.equip
            h2 Equip
            ul
              <% _.each(_.keys(data.equip), function (slot) { %>
              <li class="equip-slot"><%= slot %>:</li>
              <% }); %>
          div.inventory
            h2 Inventory
            ul
              <% _.each(data.inventory, function (item) { %>
              <li class="inventory-item" data-item=""><%= item.name %></li>
              <% }); %>