!!!
html
  head
    title= title
    != css('main')
    != css('battle')
    != css('jquery-ui')
    script(data-main="js/main", type="text/javascript", src="/js/require.js")
  body
    div#ui
    
    script(type="text/template")#templ-character-overlay
      div.inner
        div.topbar
          h1 <%= data.name %>
          div.statbars
            div.statbar.health
              div
            div.statbar.mana
              div
        div.main
          div.stats
            Stats
          div.equip
            h2 Equip
            ul
              <% _.each(_.keys(data.equip), function (slot) { %>
              <li class="equip-slot" id="equip-slot-<%=slot%>"> <%= slot %>: </li>
              <% }); %>
          div.inventory
            h2 Inventory
            ul
              <% _.each(data.inventory, function (item) { %>
              <li class="inventory-item" data-item-id="<%= item.id %>">
              <%= item.name %></li>
              <% }); %>
                
    script(type="text/template")#templ-inventory-item
      <li class="inventory-item" data-item-id="<%= item.id %>"><%= item.name %></li>

    script(type="text/template")#templ-dialogue-heard
      div.heard
        span.person <%= name %>
        span.said <%= text %>

    script(type="text/template")#templ-dialogue-said
      div.said
        span.person <%= name %>
        span.said <%= text %>

    script(type="text/template")#templ-dialogue-say
      li <%= text %>

    script(type="text/template")#templ-dialogue-overlay
      div.inner
        div.main
          div.history
          div.choices
            ol

    script(type="text/template")#templ-battle-char
      span.name <%= data.name %>
      div.statbars
        div.statbar.health
          div
        div.statbar.mana
          div
        div.statbar.cooldown
          div
      div.actions

  script(type="text/template")#templ-battle-actions
      ul
        <% for (var i = 0; i < data.actions.length; i++) { %>
        li
          button <%= data.actions[i] %>
        <% } %>

  script(type="text/template")#templ-battle-overlay
      div.inner
        div.main
          div.character
