#ui .templ-battle-overlay
  width 620px
  margin 2px auto
  padding 2px 0

  .inner
    padding 5px
    margin-top 1px !important
    margin-bottom 0 !important
      
  .actions
    display none

  .character
    line-height 12px
    height 12px
    width 600px
    .name
      width 15%
      display inline-block
      height 100%
    div.statbars
      display inline-block
      height 12px
      width 85%
      .statbar
        height 10px
        line-height 12px
        font-size 12px
        display inline-block
        margin-right 20px
        span
          display inline-block
          position relative
          top -12px
          left 2px
    
    
#ui .templ-battle-overlay.expanded
  margin 10px auto 0 auto
    
  .main
    height 36px

  .character, .actions
    display inline-block
    padding 0
    margin 0

  .character
    height 36px
    .name
      position relative
      top -12px
    div.statbars
      height 36px
      width 16.667%
      .statbar
        display block
        margin 0

  .actions
    width 67%
    height 36px
    margin-left 8px
    vertical-align 11px
    ul
      list-style-type none
      padding 0
      margin 0
      width 100%
      height 36px
      li
        display inline-block
        margin 0
        padding 0
        height 100%
        width 33%
        button
          padding 0
          margin 0
          width 100%
          height 100%
          border 0
          font-size 16px
          line-height 100%
          background transparent
        button:hover
          background #33333333
        button:active
          background #66666666


div.battle-target-selection
  width 64px
  height 64px
  border 1px solid #F00

div.battle-target-selection:hover
  background-color #F00
  opacity 0.2
  cursor crosshair
