#ui .templ-battle-overlay
  width 620px
  margin 10px auto

  .inner
    padding 5px

  .character
    width 200px

  .stats, .actions
    display block
    list-style-type none
    padding 0
    margin 0

  .actions
    ul
      list-style-type none
      padding 0
      margin 0
      li,button
        margin 0
        width 100%
        padding 0
        border 0
        height 18px
        button
          height 16px

  .stats
    li
      line-height 12px
      height 24px
      span.name
        vertical-align 6px
        width 98px
        display inline-block
    div.statbars
      display inline-block
      height 24px
    .statbar
      height 10px
      line-height 12px
      font-size 12px
      display block
      span
        display inline-block
        position relative
        top -12px
        left 2px
