$ui-character-fg = #444
$ui-font-size = 18px

body
  margin 0
  padding 0

canvas
  margin auto
  display block

#ui
  position absolute
  top 0
  left 50%
  margin-left -320px
  width 640px
  height 640px
  color #000
  font-family 'PT Sans', sans-serif
  font-size $ui-font-size
  display block

  h1, h2
    font-weight normal
    margin 0

  ul
    margin 0

  .templ-character-overlay
    width 620px
    height 620px
    margin auto
    background-color #DDDDDDDD
    div.inner
      margin 0.25em

   div.topbar
     height 2em
     line-height 2em
     border-bottom 1px solid $ui-character-fg
     padding-bottom 0.25em
     h1
       font-family 'Open Sans Light', "Segoe UI", sans-serif
       color $ui-character-fg
       display inline-block
       font-weight normal
       margin 0
       font-size 1.5em
       height 100%
       line-height inherit
       padding-left 0.25em
       margin-right 1em
         
     .statbars
       height 100%
       line-height 100%
       display inline-block

  div.main
    div.inventory, div.equip
      ul
        list-style-type none
    div.inventory
      ul
        height 200px
        border 1px solid #000
        padding 0
        font-size 0
        li
          display inline-block
          width 150px
          border 1px solid #000
          font-size $ui-font-size
    div.equip
      ul
        height 4 * $ui-font-size
        font-size 0
        li
          font-size $ui-font-size
          height 2 * $ui-font-size
          line-height 2 * $ui-font-size
          width 32%
          display inline-block
          li
            margin-left: 0.25em
            border 0
    .equip-slot
      .inventory-item
        display inline

div.statbar
  width 100px
  height 20px
  line-height 20px
  display inline-block
  margin 0
  color #FFF
    
  div
    margin 0
    padding 0
    height 100%
    line-height 100%
    font-variant small-caps

  span
    display block
    margin-top -20px

.statbar.health
  border 1px solid #F00
  div
    background-color #F00

.statbar.mana
  border 1px solid #00F
  div
    background-color #00F