body
  margin 0
  padding 0

canvas
  -webkit-transform scale3d(2.0, 2.0, 1.0)
  -webkit-transform-origin 0 0 0
  margin auto
  display block
  position relative
  left -160px

#ui
  position absolute
  top 0
  left 50%
  margin-left -320px
  width 640px
  height 640px
  color #FFF
  font-family Cantarell
  font-size 24px
  display block